<form id="formLogin">
  <label for="personalToken">Generate a <a href="https://github.com/settings/tokens" target="_blank">GitHub personal token</a> and paste below.</label>
  <input autocomplete="off" type="text" id="personalToken" placeholder="personal token" size="37">
  <small>Personal token will be hashed and stored on the browser <code>localStorage</code>. Logout to remove it permanently.</small>
  <small class="feedback">&nbsp;</small>
  <a href="#close" class="close button">Close</a>
  <button type="submit">Login</button>
</form>