// Background
html, footer
  background-color: $bg_html

// Reset
body
  background-color: $bg_main
  color: $color_main
  margin: 0
  font-size: 18px
  font-family: $font_main
  line-height: 1.5

// Headings
@include headings()
  font-family: $font_headings

// Containers
.container
  max-width: $width_container
  margin: 0 auto

// Header
header
  @extend .py-3
  div
    .container
    text-align: center

// Blockquotes
blockquote
  @extend .m-0, .px-4, .py-1
  border-left: 7px solid gray
  background: $bg_html

// Grid
// Section
section
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  @extend .px-3
  &:first-child
    @extend .pt-4
  &:last-child
    @extend .pb-5
  @for $i from 1 through length($bg_sections)
    &.section#{$i}
      background: nth($bg_sections, $i)
@media (min-width: $small_screen)
  section
    padding: 0
.row
  @extend .container
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  flex-direction: column
@media (min-width: $small_screen)
  .row
    flex-direction: row
.col
  -ms-flex-preferred-size: 0
  flex-basis: 0
  -ms-flex-positive: 1
  flex-grow: 1
  // max-width: 100%
  position: relative
  // .col + .col
  //   margin-left: 1em
  &:only-child
    @extend .container
@media (min-width: $small_screen)
  .col:not(:only-child)
    max-width: 100%
    &:not(:first-child)
      margin-left: 0.5em
    &:not(:last-child)
      margin-right: 0.5em