<!-- jQuery v3.3.1 https://github.com/jquery/jquery -->
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>

<!-- Lz-Sting 1.4.4 https://github.com/pieroxy/lz-string -->
<script src="{{ '/assets/js/lz-string.js' | relative_url }}"></script>

<!-- yaml.js 0.3.0 https://github.com/jeremyfa/yaml.js -->
<script src="{{ '/assets/js/yaml.min.js' | relative_url }}"></script>

<!-- Custom script -->
<script src="{{ '/assets/script.js' | relative_url }}?version={{ site.github.build_revision | truncate: 7, "" }}" defer></script>